<md-dialog aria-label="Add_Place" flex="35" flex-sm="75" flex-xs="75">
    <form name="newPlaceForm" ng-submit="vm.createItem(newPlaceForm)">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>New Review</h2>
                <span flex></span>
                <md-button class="md-icon-button fa-ng-size" ng-click="vm.cancelDialog(newPlaceForm)">
                    <md-icon md-font-icon="fa-times" class="fa fa-ng" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="column">
                <md-input-container>
                    <label>Type</label>
                    <md-select ng-model="vm.newItem.type" name="type" required>
                        <md-option disabled>
                            <em>None</em>
                        </md-option>
                        <md-option ng-repeat="type in vm.types" ng-value="type">
                            {{type}}
                        </md-option>
                    </md-select>
                    <div ng-messages="newPlaceForm.type.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="vm.newItem.name" name="name" required>
                    <div ng-messages="newPlaceForm.name.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-input-container>
                    <label>Address</label>
                    <!--<input ng-model="vm.newItem.address" name="address" required>-->
                    <input places-auto-complete size=80 placeholder="" value="" ng-model="vm.newItem.address" name="address" required on-place-changed="vm.placeChanged()"
                    />
                    <div ng-messages="newPlaceForm.address.$error">
                        <div ng-message="required">This is required.</div>
                    </div>
                </md-input-container>
                <md-card ng-if="vm.marker">
                    <ng-map ng-if="vm.marker" id="suggestion-map"  zoom="16" center="{{vm.marker}}">
                        <marker ng-if="vm.marker" position="{{vm.marker}}" title="{{vm.marker}}"></marker>
                    </ng-map>
                </md-card>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="vm.cancelDialog(newPlaceForm)">
                Cancel
            </md-button>
            <md-button type="submit" class="md-primary" ng-disabled="newPlaceForm.$invalid">
                Submit
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>