div{
    box-sizing: border-box;
}
.full-height{
    min-height: calc(100vh - 56px);
}
.background{
    background-image: url('./home-bg.jpg');
    background-attachment: fixed;
    background-size:cover;
    min-height:100%;
}
.fa-ng{
    height:auto;
}
.fa-ng-size{
    font-size:18px;
}

.flex-center-center{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100%;
}

.authCard{
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
}


.fixed-navbar{
    position:fixed;
    top: 0; left:0;
}
.navbar-padding{
    height: 100%;
    padding-top: 56px;
}

.stretch{
    width:100%;
    height:100%;
}

.place-card{
    height:400px;
}

.place-map{
    height:200px;
}
.capitalize {
    text-transform: capitalize;
 }

.table-filter{
    margin-bottom: 10px;
    border: 1px solid grey;
    height: 25px;
    padding: 0 5px;
}
.table-filter:focus{
    outline-width: 0;
}
.table-header{
    padding: 10px 0;
    cursor: pointer;
}


md-content{
    background-color:transparent;
}