div{
    box-sizing: border-box;
}
.full-height{
    height: calc(100vh - 64px);
}
.background{
    background-image: url('./home-bg.jpg');
    background-attachment: fixed;
    background-size:cover;
    min-height:100%;
}
.fa-ng{
    height:auto;
}
.fa-ng-size{
    font-size:18px;
}

.flex-center-center{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100%;
}

#loginCard{
    width: 400px;
    max-width: 100%;
    padding: 15px;
    margin: 15px;
}

@media only screen and (max-width: 450px){
    #loginCard{
        width: 100%;
        padding: 15px;
        margin: 15px;
    }
}

.fixed-navbar{
    position:fixed;
    top: 0; left:0;
}
.navbar-padding{
    height: 100%;
    padding-top: 64px;
}

.place-card{
    width: 300px;
    max-width: 100%;
}
.capitalize {
    text-transform: capitalize;
 }

.table-filter{
    margin-bottom: 10px;
    border: 1px solid grey;
    height: 25px;
    padding: 0 5px;
}
.table-filter:focus{
    outline-width: 0;
}
.table-header{
    padding: 10px 0;
    cursor: pointer;
}


md-content{
    background-color:transparent;
}