.div{
    box-sizing: border-box;
}
.background{
    background-image: url('./admin-bg.jpg');
    background-attachment: fixed;
    background-size:cover;
    min-height:100%;
}
.full-height{
    height:100%;
}
.fa-ng{
    height:auto;
}
.fa-ng-size{
    font-size:18px;
}

.flex-center-center{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: 100%;
}

#loginCard{
    width: 400px;
    max-width: 100%;
    padding: 15px;
    margin: 15px;
}
.table-filter{
    margin-bottom: 10px;
    border: 1px solid grey;
    height: 25px;
    padding: 0 5px;
}
.table-filter:focus{
    outline-width: 0;
}
.table-header{
    padding: 10px 0;
    cursor: pointer;
}

md-content{
    background-color:transparent;
}
