.div{
    box-sizing: border-box;
}

.background{
    background-image: url('./admin-bg.jpg');
    background-attachment: fixed;
    background-size:cover;
    min-height:100%;
}

.md-button.md-fab.md-fab-bottom-right {
    position: fixed;
}

.full-height{
    height:100%;
}
.fa-ng{
    height:auto;
}
.fa-ng-size{
    font-size:18px;
}

#loginCard{
    max-width: 400px;
    padding: 15px;
    margin: 0 auto;
}
.table-filter{
    margin-bottom: 10px;
    border: 1px solid grey;
    height: 25px;
    padding: 0 5px;
}
.table-filter:focus{
    outline-width: 0;
}
.table-header{
    padding: 10px 0;
    cursor: pointer;
}

md-content{
    background-color:transparent;
}
