<div class="full-height">
    <div class="flex-center-center">
        <md-card id="loginCard">
            <form name="loginForm" ng-submit="vm.login(loginForm)">
                <md-card-title>
                    <md-card-title-text layout="row" layout-align="center center">
                    <span class="md-headline">Log In</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content layout="column">
                    <p>{{vm.error}}</p>
                        <md-input-container>
                            <label>Username</label>
                            <input ng-model="vm.username" name="username" required>
                            <div ng-messages="loginForm.username.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                    
                        <md-input-container>
                            <label>Password</label>
                            <input ng-model="vm.password" type="password" name="password" required>
                            <div ng-messages="loginForm.password.$error">
                                <div ng-message="required">This is required.</div>
                            </div>
                        </md-input-container>
                </md-card-content>
                <md-card-actions layout="row" layout-align="center center">
                    <md-button class="md-raised md-primary" ng-disabled="loginForm.$invalid" type="submit">Submit</md-button>
                </md-card-actions>
            </form>
        </md-card>
    </div>
</div>