<div flex-gt-md="80" flex-offset-gt-md="10" class="background">
    <md-content layout="row" layout-padding layout-wrap layout-align="center">
            <md-card ng-repeat="place in vm.items" class="place-card" trackBy="$index">
                <ng-map ng-if="false" id="{{place._id}}" zoom="16" center="{{place.address}}">
                    <marker ng-if="place.address" position="{{place.address}}" title="{{place.address}}"></marker>
                </ng-map>
                <md-card-title>
                    <md-card-title-text>
                    <span class="md-headline">{{place.name}}</span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <strong class="capitalize"><em>{{place.type}}</em></strong>
                    <p>{{place.address}}</p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">
                    <md-button ui-sref="places({item_id: place._id})">Reviews</md-button>
                </md-card-actions>
            </md-card>
    </md-content>
</div>
    